In [1]:
import scipy
import numpy as np
import pandas as pd

In [20]:
#Question 1
grades = {
    'Name': ['Adam', 'Anna', 'James', 'Corey', 'Alisha', 'Jodie', 'John'],
    'Math': [11, 12, 11, 7, 9.5, 15, 18],
    'Science': [9, 11, 18, 15.5, 12, 18.5, 15.5],
    'Reading': [16, 8.5, 11.5, 11, 10.5, 7, 11],
    'History': [13.5, 10, 9, 14, 14, 12, 7.5]
}

grades_df = pd.DataFrame(grades)
display(grades_df)

grades_df['Math'].mean()

     Name  Math  Science  Reading  History
0    Adam  11.0      9.0     16.0     13.5
1    Anna  12.0     11.0      8.5     10.0
2   James  11.0     18.0     11.5      9.0
3   Corey   7.0     15.5     11.0     14.0
4  Alisha   9.5     12.0     10.5     14.0
5   Jodie  15.0     18.5      7.0     12.0
6    John  18.0     15.5     11.0      7.5

11.928571428571429

In [15]:
grades_df['Science'].mean()

14.214285714285714

In [16]:
grades_df['Reading'].mean()

10.785714285714286

In [17]:
grades_df['History'].mean()

11.428571428571429

In [18]:
grades_df['Math'].median()

11.0

In [19]:
scipy.stats.mode(grades_df['History'])

ModeResult(mode=14.0, count=2)

In [21]:
#Question 2

grades_df.corr(numeric_only=True)

#math and history have the strongest correlation

             Math   Science   Reading   History
Math     1.000000  0.269494 -0.268562 -0.718358
Science  0.269494  1.000000 -0.527606 -0.358688
Reading -0.268562 -0.527606  1.000000  0.206794
History -0.718358 -0.358688  0.206794  1.000000

In [31]:
#Question 3

exam_grades = [24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60]
def desc_stats(numbers):
    mean = np.mean(numbers)
    print("Mean:", mean)

    median = np.median(numbers)
    print("Median:", median)

    minimum = min(numbers)
    print("Minimum:", minimum)

    maximum = max(numbers)
    print("Maximum:", maximum)

    data_range = maximum - minimum
    print("Range:", data_range)

    variance = np.var(numbers)
    print("Variance:", variance)

    std_deviation = np.std(numbers)
    print("Standard deviation:", std_deviation)

In [32]:
desc_stats(exam_grades)

Mean: 59.47826086956522
Median: 60.0
Minimum: 5
Maximum: 99
Range: 94
Variance: 664.1625708884687
Standard deviation: 25.771351747404882